@if (hasChildren()) {
  @if (collapsed()) {
    <button mat-list-item [matMenuTriggerFor]="subMenu">
      <mat-icon matListItemIcon class="flex gap-2 text-inherit!">{{ item().icon }}</mat-icon>
    </button>
    <mat-menu #subMenu="matMenu">
      @for (child of item().children; track child.id) {
        <button
          mat-menu-item
          [routerLink]="child.path"
          routerLinkActive="bg-[var(--primary-color)]! text-white! font-semibold! transition-all duration-200"
        >
          {{ child.title }}
        </button>
      }
    </mat-menu>
  } @else {
    <mat-accordion>
      <mat-expansion-panel class="shadow-none!" [expanded]="isExpanded()">
        <mat-expansion-panel-header>
          <mat-panel-title class="flex gap-2">
            <mat-icon class="text-inherit!">{{ item().icon }}</mat-icon>
            <span class="text-inherit!">{{ item().title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          @for (child of item().children; track child.id) {
            <app-sidebar-menu-item [item]="child" [collapsed]="collapsed()" />
          }
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  }
} @else {
  <a
    mat-list-item
    [routerLink]="item().path"
    routerLinkActive="bg-[var(--primary-color)]! text-white! font-semibold! shadow-md! transition-all duration-200"
    class="mx-2 mb-2"
  >
    <mat-icon matListItemIcon class="flex gap-2 text-inherit!">{{ item().icon }}</mat-icon>
    @if (!collapsed()) {
      <span class="text-inherit!" matListItemTitle>{{ item().title }}</span>
    }
  </a>
}
