@if (hasChildren()) {
  @if (collapsed()) {
    <button mat-list-item [matMenuTriggerFor]="subMenu">
      <mat-icon matListItemIcon class="flex! gap-2!">{{ item().icon }}</mat-icon>
    </button>
    <mat-menu #subMenu="matMenu">
      @for (child of item().children; track child.id) {
        <button
          mat-menu-item
          [routerLink]="child.path"
          routerLinkActive="active"
          [matTooltip]="child.title"
        >
          {{ child.title }}
        </button>
      }
    </mat-menu>
  } @else {
    <mat-accordion>
      <mat-expansion-panel
        class="shadow-none! transition-colors! duration-200! rounded-lg!"
        [class.bg-(--primary-color)/10!]="isExpanded()"
        [class.bg-transparent!]="!isExpanded()"
        [expanded]="isExpanded()"
        (opened)="expanded.set(true)"
        (closed)="expanded.set(false)"
      >
        <mat-expansion-panel-header [matTooltip]="item().title">
          <mat-panel-title class="flex! gap-2! w-full!">
            <mat-icon class="text-inherit!">{{ item().icon }}</mat-icon>
            <span class="text-inherit!">{{ item().title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          @for (child of item().children; track child.id) {
            <app-sidebar-menu-item [item]="child" [collapsed]="collapsed()" />
          }
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  }
} @else {
  <a
    mat-list-item
    [routerLink]="item().path"
    routerLinkActive="active"
    class="mb-2! rounded-lg!"
    [matTooltip]="item().title"
  >
    <mat-icon matListItemIcon class="flex! gap-2! text-inherit!">{{ item().icon }}</mat-icon>
    @if (!collapsed()) {
      <span class="text-inherit!" matListItemTitle>{{ item().title }}</span>
    }
  </a>
}
