<div class="filter-advanced-container p-4 bg-white rounded-lg shadow-sm" [formGroup]="filterForm">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (field of fields(); track field.controlName) {
      <div class="filter-field">
        @switch (field.type) {
          @case ('text') {
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [formControlName]="field.controlName" />
            </mat-form-field>
          }
          @case ('number') {
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput type="number" [formControlName]="field.controlName" />
            </mat-form-field>
          }
          @case ('select') {
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>{{ field.label }}</mat-label>
              <mat-select [formControlName]="field.controlName">
                <mat-option value="">Todos</mat-option>
                @for (option of field.options; track option.value) {
                  <mat-option [value]="option.value">{{ option.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
          @case ('date') {
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [matDatepicker]="picker" [formControlName]="field.controlName" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          }
          @case ('boolean') {
            <div class="flex items-center h-full">
              <mat-checkbox [formControlName]="field.controlName">{{ field.label }}</mat-checkbox>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
