<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4" [formGroup]="form">
  <mat-form-field class="w-full">
    <mat-label>Health score</mat-label>
    <mat-select formControlName="health_score">
      @for (score of healthScores; track score.value) {
        <mat-option [value]="score.value">{{ score.label }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ form.get('health_score')?.errors | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Nível potencial</mat-label>
    <mat-select formControlName="potential_level">
      @for (level of levels; track level.value) {
        <mat-option [value]="level.value">{{ level.label }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ form.get('potential_level')?.errors | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Nível da exigência</mat-label>
    <mat-select formControlName="demand_level">
      @for (level of demandLevels; track level.value) {
        <mat-option [value]="level.value">{{ level.label }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ form.get('demand_level')?.errors | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Nível de prioridade</mat-label>
    <mat-select formControlName="priority_level">
      @for (level of priorityLevels; track level.value) {
        <mat-option [value]="level.value">{{ level.label }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ form.get('priority_level')?.errors | errorMessage }}</mat-error>
  </mat-form-field>
</div>
