<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    [mode]="sidebarMode()"
    [opened]="!collapsed()"
    [style.width]="collapsed() ? sidebarWidth() : 300"
    class="shadow-xl! rounded-md!"
  >
    <div class="p-6! flex! items-center! gap-2!">
      <mat-icon color="primary">business</mat-icon>
      @if (!collapsed()) {
        <span class="font-bold">Sua Empresa</span>
      }
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>
      @for (item of menuItems(); track item.id) {
        <app-sidebar-menu-item [item]="item" [collapsed]="collapsed()" />
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="flex items-center justify-center gap-4">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>{{ iconMenuSidebar() }}</mat-icon>
        </button>
        <span class="font-bold">{{ currentRouteTitle() }}</span>
      </div>
      <div class="flex justify-center items-center gap-4">
        <button mat-icon-button>
          <mat-icon aria-hidden="false" role="img" matBadge="3" matBadgeColor="warn">
            notifications
          </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon matListItemIcon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <main class="main-content">
      <app-card apparence="outlined">
        <router-outlet></router-outlet>
      </app-card>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu" class="w-64">
  @if (user()) {
    <div class="flex flex-col gap-2 px-4!">
      <span class="font-bold block">{{ user()?.name }}</span>
      <span class="text-gray-500 text-sm block">{{ user()?.email }}</span>
    </div>
  }
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="text-red-600!">logout</mat-icon>
    <span class="text-red-600!">Sair</span>
  </button>
</mat-menu>
