<div
  class="flex! flex-col! h-full! w-full! overflow-x-hidden! box-border! relative!"
  [class.fullscreen-wrapper!]="isFullscreen"
>
  <div
    mat-dialog-title
    class="flex! w-full! justify-between! items-start! mb-4! p-4! border-b! border-neutral-500/30!"
  >
    <div class="flex! justify-start! items-center! h-full! w-full! text-start!">
      <span class="font-semibold! text-neutral-600! m-0!">
        {{ data?.title || title }}
      </span>
    </div>

    <div class="flex! gap-2!">
      @if (data?.enableFullscreen) {
        <button
          mat-icon-button
          type="button"
          (click)="toggleFullscreen()"
          [matTooltip]="isFullscreen ? 'Sair da tela cheia' : 'Tela cheia'"
        >
          <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      }
      @if (data?.isHandleClose) {
        <button
          mat-icon-button
          type="button"
          [class]="getIconButtonClass('error')"
          (click)="closeModal()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  </div>

  <mat-dialog-content
    class="flex-1! w-full! max-w-full! overflow-y-auto! overflow-x-hidden! custom-scroll px-4!"
    [class.max-h-full!]="isFullscreen"
    [class.max-h-[90vh]!]="!isFullscreen"
  >
    @if (data?.customContent) {
      <ng-container
        *ngComponentOutlet="data.customContent; injector: contentInjector"
      ></ng-container>
    } @else {
      <ng-content></ng-content>
    }
  </mat-dialog-content>

  <div
    class="max-md:flex-col-reverse! flex! w-full! justify-end! gap-4! px-6! py-4! border-t! border-neutral-500/30!"
  >
    @for (action of actions; track $index) {
      <button
        (click)="handleAction(action)"
        [disabled]="action.disabled || loading"
        [type]="action.type || 'button'"
        [class]="getButtonClass(action)"
        [matButton]="action.variant || 'text'"
        [color]="action.style || 'primary'"
      >
        {{ action.label }}
      </button>
    }
  </div>
</div>
