@layer theme, base, material, components, utilities;

@import 'tailwindcss';

@theme inline {
  --font-sans: 'Poppins', 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --primary-color: #0393be;
  --secondary-color: #0dbf87;
  --tertiary-color: #f69000;
  --neutral-color: #f6fafd;
  --neutral-variant-color: #dde3ea;
  --text-color: #1e293b;
  --background-color: #f0f0f0;
  --error-color: #ba1a1a;
  --purple-color: #8b5cf6;
  --white-color: #ffffff;
  --shadow-toolbar:
    0 0.2rem 0.6rem -0.1rem rgba(0, 0, 0, 0.12), 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

@layer base {
  * {
    @apply m-0 p-0 box-border outline-none scroll-smooth;
  }

  html,
  body,
  main {
    @apply scheme-light-dark box-border! outline-none! scroll-smooth! h-full! w-full! font-sans! antialiased!;
  }

  .active {
    @apply bg-(--primary-color)! text-white! font-semibold! shadow-md! transition-all! duration-200! rounded-lg!;
  }
}

@layer material {
  mat-card,
  .mat-mdc-table,
  .mat-mdc-card {
    background-color: var(--white-color);
    box-shadow: var(--shadow-sm);
  }

  mat-card-content {
    padding: 0;
  }

  .mat-mdc-header-cell {
    border-bottom-width: 0.1rem;
    border-bottom-color: var(--neutral-variant-color);
  }

  .mat-mdc-dialog-surface,
  .mdc-dialog__surface {
    padding: 0;
    overflow-x: hidden;
    border-radius: 1rem;
  }

  .mat-mdc-paginator-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 767px) {
    .cdk-overlay-pane {
      max-width: 100vw;
      width: 100vw;
      margin: 0;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }

  .responsive-modal .mat-mdc-dialog-container,
  .responsive-modal .mat-mdc-dialog-surface,
  .responsive-modal .mdc-dialog__surface {
    @apply rounded-lg;
  }

  .toast-btn-success {
    @apply bg-emerald-600! text-white! border-none!;
  }

  .toast-btn-error {
    @apply bg-red-600! text-white! border-none!;
  }

  .toast-btn-warn {
    @apply bg-yellow-600! text-white! border-none!;
  }
}
