@import 'tailwindcss';

@theme inline {
  --font-sans: 'Poppins', 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --primary-color: #0393be;
  --secondary-color: #0dbf87;
  --tertiary-color: #f69000;
  --neutral-color: #f6fafd;
  --neutral-variant-color: #dde3ea;
  --text-color: #1e293b;
  --background-color: #f0f0f0;
  --error-color: #ba1a1a;
  --purple-color: #8b5cf6;
  --white-color: #ffffff;
  --shadow-toolbar:
    0 0.2rem 0.6rem -0.1rem rgba(0, 0, 0, 0.12), 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

@layer base {
  * {
    @apply m-0 p-0 box-border outline-none scroll-smooth;
  }

  html,
  body,
  main {
    @apply scheme-light-dark box-border outline-none scroll-smooth h-screen w-screen font-sans antialiased;
  }
}

mat-card,
.mat-mdc-table,
.mat-mdc-card {
  background-color: var(--white-color) !important;
  box-shadow: var(--shadow-sm) !important;
}

.mat-mdc-paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

mat-card-content {
  padding: 0 !important;
}

.mat-mdc-header-cell {
  border-bottom-width: 1px !important;
  border-bottom-color: var(--color-neutral-200) !important;
}
